{% extends "layouts/base.html" %}

{% block content %}
  <article>
    <div class="canvas-container">
      <canvas id="aeonsGame" width="800" height="600" tabindex="-1"></canvas>
    </div>
    <script src="aeons.js"></script>
    <div class="title-source">
      <div class="example-title">{{ title }}</div>
      <a class="source-link button" href="{{ source }}"><img class="source-github-logo" src="{{ '/static/github_logo.png' | url }}">Source</a>
    </div>
    {{ content | safe }}
      <a class="button" href="{{ '/' | url }}">Back</a>
  </article>
{% endblock %}