
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(255, 255, 255);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin: 8px auto;
  max-width: 1000px;
  padding: 10px;
}

.header {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 100%;
  background-color: #181818;
  height: 60px;
}

.logo {
  height: 60px;
  width: auto;
  margin-left: 10px;
}

.github-link {
  height: 24px;
  width: auto;
  margin: 16px 16px;
}

.header-text {
  color: white;
  font-size: xx-large;
  padding-top: 10px;
}

.canvas-container {
  width: 100%;
  text-align: center;
}

#aeonsGame {
  margin: 10px auto;
  outline: none;
  border: 1px solid black;
}

.title-source {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 100%;
  height: 32px;
}

.source-github-logo {
  height: 16px;
  width: auto;
  padding-right: 4px;
}

.example-title {
  font-size: x-large;
  font-weight: bold;
}

.source-link {
  padding-top: 6px;
}

.example-list {
  padding-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
}

.example-item {
  padding: 20px;
}

.example-container {
  display: inline-flex;
  flex-grow: 0;
  flex-direction: column;
  border: 1px solid #181818;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  width: 200px;
}

.thumbnail {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.thumbnail-text {
  text-align: center;
  padding: 5px 0;
}

.back-link {
  margin-top: 30px;
}

.button {
  display: inline-flex;
  flex-grow: 0;
  background-color: #181818;
  color: white;
  padding: 5px 10px;
  width: auto;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #444;
}